/* in the spirit of cryptocurrency this css is append-only */

$day-main: #fec8fc;
$day-background: #5e63fd;
$zcash-yellow: #ffbf00;
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dark-mode {
    .z-board {
        .create-post-button {
            border-color: #ddd;
        }
        .simple-board-info {
            color: #ddd;
        }
    }
}
.icon.copy-icon {
    margin-left: 8px;
}
.z-board {

    pre {
        background: #ffffff55;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #999;
        cursor: text;
    }
    .like-form-container {
        form {
            .after-liking-total {
                width: 100%;
                display:flex;
                justify-content: space-between;
            }

            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            width: 250px;
            label {
                color: black;
            }
            input {
                margin-left: 5px;
            }
        }
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

    }
    
    .copied-tooltip {
        pointer-events: none;
    }
    .create-post-button {
        width: 150px;
        margin: 5px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: 1px solid black;
    }
    .price-selector {
        text-align: left;
        margin-left: 12%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        user-select:none;
        margin-bottom: 10px;

        .price-selection-pair {
            display: flex;
            align-items:center;
        }


        label {
            .label-link {
                padding: 0;
                font-weight: normal;
                color: $day-background;
            }
            color: black;
            margin-right: 10px;   
            word-break: keep-all;
        }
        input {
            margin: 5px;
        }
        
    }
    
    .uri-link {
        text-decoration: underline;
        padding-left: 0px;
        cursor: default;
        word-break: break-all;
        &:hover {
            color: #222;
        }
    }
    min-width: 350px;
    .board-controls-container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 80%;
        align-items: flex-end;
        button:disabled {
            pointer-events:none;
            }
        .board-search {

            display: flex;
            align-items:flex-end;
            .search-form {
                align-items: flex-end;
                display: flex;
            }
            label {
                margin-right: 5px;
                font-size: 18px;
            }

            select{
                height: 35px;
                margin-left: 5px;
                border-radius: 3px;
                font-size: 18px;
            }
            
            input {
                border-radius: 5px 0px 0px 5px; 
                height: 35px;
                border: 1px solid #bec0fe;
                color: black;
            }
            button  {
                font-size: 18px;
                border: 1px solid #bec0fe;
                background: #bec0fe;
                height: 35px;
                border-radius: 0px 5px 5px 0px;
                padding: 0px 14px;
                margin-right: 10px;
            
            border-left: none;
                }
        }
    }
    
    .update-notification {
        border: 5px solid $zcash-yellow;
        width: 20%;
        min-width: 100px;
        min-height: 50px;
        position: fixed;
        left: 40%;
        top: 70px;
        background: black;
        border-radius: 25px;
        cursor: pointer;
        color: $zcash-yellow;
        margin: 0 auto;
        padding: 5px;
        z-index: 9999999999;
        transition: .3s;

        &:hover {
            background: rgb(27, 27, 27);
        }
    }
    
    
    .post-id {
        padding-left: 10px;
        padding-top: 10px;
    }
    .pinned-header {
        margin-left: 10px;
        display:flex;
        justify-content: space-between;
    }

    #top-post {
        border: 5px dashed turquoise;
        color: lime;
        background: magenta;
        border-radius: 10%;
        .active {
            border-radiu: 2%;
        }
    }
    .board-zaddr-link {
        font-weight: normal;
        text-decoration: underline;
        border-radius: 5px;

    }

    padding-top: 30px;
    
    .view-key {
        color: #eee;
    }
    .view-key-link {
        color: #ff879b;
    }

    .reply-editor {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-bottom: 5px;
        .reply-text-editor {
            width: 60%;
            margin-left: 10px;
        
            textarea {
                width: 40%;
                margin-left: 0px;
                height: 150px;
                color: #111;
                width: 90%;
            }
            
        }
}
    

    .reply-header {
        padding: 1% 1%;
        border: 5px solid #bec0fe;
        color: $zcash-yellow;
        width: 30%;
        margin: 1% auto;
        border-radius: 28%;
        background: black;
        min-width: 200px;
        max-width: 400px;
    }

    .board-explainer {
        background: #bec0fe;
        width: 75%;
        margin: 0 auto;
        border: 1px solid black;
        margin-bottom: 20px;
        padding: 10px;
        transition: 1s;
        a {
            color: darken($day-background, 20);
            &:hover {
                color: darken($day-background, 30);
            }
        }
        .uri-link {
            text-decoration: underline;
            color: black;
            &:hover {
                color: black;
            }
        }
        .user-page-link {
            color: #333;
            &:hover {
                color: black;
            }
        }
    }


    .instructions-header {
        width:90%;
        margin: auto;
        word-break: break-word;
        font-size: 18px;
        margin: 10px auto;
        margin-bottom: 0;


    }

    .highlight-cta {
        margin-top:0;
    }

    .board-zaddr {
        margin: 5px 5px;
        width: 80%;
        padding: 3px 10px;
        margin-top: 20px;
        font-size: 12px;
        word-break: break-word;
        display: inline;       
    }

    button {
        cursor: pointer;
        border: 1px solid black;
        border-radius: 3px;
    }


    .board-page-buttons {
        display:flex;
        justify-content:flex-end;
        padding: 0px;
        height: 35px;
        align-items: center;
        input {
            margin: 0 20px 0px 10px;
            font-size: 16px;
            transform: scale(1.4);
        }



        
        button {
            border: 1px solid #bec0fe;
            background: #bec0fe;
            height: 35px;
        }
        .page-number {
            line-height: 1;
            background: white;
            border: none;
            font-size: 18px;
            border-radius: 0px;
            border: 1px solid white;
        }
        .board-next {
            margin-right: 1px;
            cursor: pointer;
            border-left: none;
            font-size: 18px;
            border-radius: 0px 5px 5px 0px;
        }
        .board-previous {
            border-right:none;
            cursor: pointer;
            font-size: 18px;
            border-radius: 5px 0px 0px 5px;
        }
        .board-next:disabled, .board-previous:disabled {
            opacity: .5;
            cursor: not-allowed;
            a {
                pointer-events: none;
            }
        }
    }

    .replying-to-link {
        width: 83%;
        text-align: left;
        margin: 0 auto;
        margin-bottom: 10px;
        display: block;
        letter-spacing: 1px;
        color: black;
        transition: .2s;
        &:hover {
            color: black;
            letter-spacing: 2px;
        }
    }
  
    .board-post {

        width:80%;
        margin: .5% auto;
        background: #bec0fe;
        border: 1px solid #bec0fe;
        padding:10px;
        padding-top:0px;
        text-align:left;
        border-radius: 5px;
        a {
            transition: .2s;
        }
        a.board-zaddr-link:hover {
            color: black;
            font-size: 18.02px;
            text-shadow: 6px 6px 2px #888;
        }

        .zebra-icon {
            height: 23px;
            width: 24px;
          }
        p {
            code {
                margin-bottom: 10px;
            }
        }
        .post-links {
            padding-top: 15px;
        }
        .post-text {
            display:block;
            font-size: 18px;
            padding:10px;
            word-break: break-word;
            max-width:100%;
            white-space:pre-wrap;
            margin-bottom:0px;
            margin-top:1px;
            
        }
        .sub-board-link {
            font-size: 14px;
            padding-bottom: 0;
        }
        .post-date {
            margin: 0;
            
            padding-left:10px;
            color:rgb(117, 117, 117);
            display: flex;
            align-items:center;
            p {
                margin: 0px 10px;
            }
            .like-icon {
                width: 30px;
                height: 30px;
                transition: .2s;
                -webkit-transition: .2s;

                &:hover {
                    width: 2rem;
                    height: 2rem;
                }
            }
            .like-container {
                border: 1px solid black;
                border-radius: 5px;
                display: flex;
                align-items:center;
                margin-right: 5px;
                padding: 0 2px;
                height: 2rem;
                img {
                    margin-right: 2px;
                    cursor: pointer;
                }
                span {
                    border-left: 1px solid black;
                    line-height: 1;
                    padding-bottom: 3px;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-top: 0;
                    font-size: 1.7rem;
                    color: black;
                }
                
            }
        }
    }


    .highlighted-board-post {
        width:80%;
        background:rgb(255, 135, 155);
        border: 1px solid gold;

        .post-date {
            margin: 0;
            padding-left:10px;
            color:rgb(68, 68, 68);    
            margin-bottom: 5px; 
        }
        .post-text {
            margin-top:0;
            // letter-spacing: 1px;
            // background: #000FB7;
            border:none;
            max-width:100%;
            font-size:20px;
            // text-align:center;
            // font-weight:520;
        }
        .sub-board-link {
            font-size: 14px;
            padding-bottom: 0;
        }
    }
    .individual-post {
        margin-top:5px;
    }
    a {
        text-decoration: none;
        color:#222;
        font-weight:bold;
        padding-right:10px;
        padding-left:10px;

    }
    a.page-link {
        color: #333;
        font-weight: normal;

    }
    .post-bottom-row {
        display:flex;
        justify-content:space-between;
        text-align:left;
    }

    .z-link {
        color: $day-background;
        padding: 0px 0px 0px 2px;
    }
}

.z-board.bathroom-mode {
    font-family: 'Permanent Marker', cursive;
    background-image: url("../bathroom_wall_light.png");
    
    .board-post {
        border: none;
        background: #00000000;

        .post-text {
            font-size: 24px;
        }

        p {
            opacity: 1;
        }

    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    margin-right: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 2px black;
  }
  
  input:checked + .slider:before {
    background-color: #888;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .bathroom-mode-controls {
      display:flex;
      align-items:center;
      justify-content: center;
      width: 300px;
      margin: 0 auto;
  }


  $dash-size: 5px;
  $theme-color: #bec0fe;
  $light-outline: $zcash-yellow;
  $dark-outline: #7a5f0b;
  $fill-color: #ff879b;
  $dark-theme-color:  #000126;
  $dark-red: #390009;
  
  #pinned-post {
      .pin-text {
          font-size: 12px;
          text-align: right;
          padding-right: 10px;
      }
      .unit-toggle {
        background: lighten($fill-color, 5%);
        border: 1px solid $dark-red;
        color: #111;
    }


      margin-bottom: 20px;
      padding: 25px;
      max-width: 900px;
      padding-top: 10px;
      background: lighten($theme-color, 20%);
      border: $dash-size dashed $theme-color;
      box-shadow: 0 0 0 ($dash-size / 2) darken($theme-color, 20%),
                  0 0 0 ($dash-size * 2.5) #fff,
                  inset 0 0 0 ($dash-size / 2) darken($theme-color, 20%),
                  0 $dash-size ($dash-size * 2) ($dash-size * 3) rgba(0,0,0,0.5),
                  inset 0 0 0 ($dash-size * 1.2) #fff,
                  inset 0 0 100vw 100vw $fill-color;
    width: 90%;
  }


  .dark-mode .z-board {
    pre {
        background: #ffffff09;
        border: 1px solid #333;
        padding: 5px;
        border-radius: 5px;
    }
    .board-post {
        a.board-zaddr-link:hover {
            color: white;
            font-size: 18.02px;
            text-shadow: 6px 6px 2px #888;
        }
    }

        .like-form-container {
            form {
                label {
                    color: #eee;
                }
            }
        }
    .price-selector {
        
        label {
            .label-link {
                color: $zcash-yellow;
            }
            color: #eee;
        }
    }

    .board-search {
        margin-left: 1px;
        input {
            height: 35px;
            border: 1px solid #ccc;
            color: #eee;
            background: #111;
            border-right: none;
        }
        select {
            background: #111;
            border: 1px solid #ccc;
        }
        button  {
        border: 1px solid #ccc;
        background: $dark-theme-color;
        height: 35px;
        border-radius: 0px 3px 3px 0px;
        
        &:disabled {
            
        }
        &:hover {
            
            border-color: $zcash-yellow;
            color: $zcash-yellow;
        }
            }
    }
    .replying-to-link {
        color: #eee;
    }

    .update-notification {
        color: $zcash-yellow;
    }
    

    button {
        background: #151632;
        color: #ddd;
        border-radius: 3px;
        
    }

    a.page-link {
        color: #ddd;
        font-weight: normal;
        &:hover {
            color: $zcash-yellow;
        }
    }

    .reply-header {
        border-color: $dark-theme-color;
        margin-top: 1%;
    }

    .page-number {
        color: #333;
    }
    .view-key {
        margin-bottom: 5px;
        color: cyan;
        background: repeating-linear-gradient(30deg, transparent, transparent 10px, #0057ad 10px, #be6800 20px), linear-gradient(to bottom, #870087, #006c00);
        border: 5px solid #817324;
        border-radius: 10%;
        padding: 10px;
        .view-key-link {
            color: lime;
        }
    }
    
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        color: #ccc;
        font-weight: 500;
    }

    .board-explainer {
        background: $dark-theme-color;
        a {
            color: #ddd;
            &:hover {
                color: $zcash-yellow;
            }
        }
        .uri-link {
            color: #ddd;
            word-break: break-all;
        }
        .user-page-link {
            color: #ddd;
            &:hover {
                color: white;
            }
        }
    }

    .board-page-buttons {
        display:flex; 
        button {
            font-size: 18px;
        }


        .page-number {
            color: #eee;
            background: #333;
            border: 1px solid #aaa;
        }
        .board-next, .board-previous {
            border-color: #aaa;
            background: $dark-theme-color;
            color: #ddd;
            transition: .4s;
            
            &:hover {
                    border-color: $zcash-yellow;
                    a {
                        color: $zcash-yellow;
                    }
            }
            &:disabled:hover {
                border-color: #ccc;
            }
        }
        
    }
    #pinned-post {
        background: #007eff;
        
        border: 5px dashed #000126;
        box-shadow: 0 0 0 2.5px #000126, 0 0 0 12.5px #390009, inset 0 0 0 2.5px #000126, 0 5px 10px 15px #620000, inset 0 0 0 6px #390009, inset 0 0 100vw 100vw #390009;
        .unit-toggle {
            background: #620000;
            border: 1px solid #800000;
            color: #eee;
        }
    }
    .board-post {
        background: $dark-theme-color;
        border: 1px solid $dark-theme-color;
        a {
            color: #ddd;
        }
        .z-link {
            padding: 0;
            color: $zcash-yellow;
            padding-left: 2px;
        }
        .post-text {
        }
        .post-date {
            color: #bbb; 
            p {
                margin: 0px 10px;
            }
        }
        .like-container {
            border-color: #aaa;
            color: #aaa;
           
            span {
                border-color: #ddd;
                color: #ddd;
            }
        }
    }

    .highlighted-board-post.board-post {
        border: 1px solid $zcash-yellow;
        background:$dark-red;
    }
}

@media (max-width: 864px) {
    .z-board {
        .like-form-container {
            flex-direction: column;
            form {
                align-items:flex-end;
            }
        }
        .price-selector {
            justify-content: center;
            text-align: center;
            margin-left: 0;
        }
        .reply-editor {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-between;
            margin-left: 0;
            .reply-text-editor {
                margin-left: 0;
                width: 100%;
                textarea {
                    margin-left: 0;
                    width: 100%;
                    
                }
            }
    }
    }
}

$breakpoint-tablet: 864px;
$breakpoint-mobile: 500px;


@media (max-width: 1000px) {
    .z-board {
        .board-controls-container {
            width: 95%;
        }


        .replying-to-link {
            width: 97%;
        }

        .board-post {
            width: 95%;
        }

    }
}


@media (max-width: $breakpoint-tablet) {
    .z-board {
        .board-page-buttons {
        
            .page-number {

            }
            .board-next, .board-previous {

            }
        }

        .board-controls-container {
            margin-top: 35px;
            flex-direction: column;
            align-items: center;

            .board-search {
                flex-direction: column;
                align-items: center;
                form {
                    width: 100%;
                }
                .board-dropdown-pair {
                    min-width: 230px;
                    max-width: 300px;
                    width: 100%;
                    margin-top: 10px;
                }

                
               
                button {
                    margin-right: 0;
                }
                select {

                    width: 100%;
                }
            }
        }
        
        .board-page-buttons {
            width: 100%;
            justify-content: flex-end;
        }


        .board-explainer {
            width: 90%;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .z-board {

        .board-controls-container {
            .board-page-buttons {
                justify-content: space-between;
            }
        }
    }
}

.flip-card {
  background-color: transparent;
  margin-bottom: 25px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  max-width: 900px;
  margin: 0 auto;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipped .flip-card-inner {
  transform: rotateY(180deg);
}



/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    width: 100%;
}

/* Style the back side */
.flip-card-back {
    max-width: 900px;
    width: 100%;
    color: white;
    transform: rotateY(180deg);
}

.pinned-big-icon {
    width: 120px;
    height: 127px;
    margin: 0 auto;
}
.icon-card {
    
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items:center;
    margin: 0 auto;
    h5 {
        font-size: 15px;
    }

    .pinned-card-back-text {
        padding-left: 10%;
        text-align:left;
        width: 60%;
    }
    .img-container {
        margin-left: 5px;
        padding-right: 20%;
        img {
            
        }
    }
}

.dark-mode .z-board .icon-card h5 {
    color: #eee;
}

@media (max-width: 800px) {
    .icon-card {
        justify-content: space-between;

        .pinned-card-back-text {
            padding: 0%;
            text-align:left;
            width: 70%;
        }
        .img-container {
            margin: 0;
            margin-left: 5px;
            padding: 0;
            img {
                
            }
        }
    }
}

@media (max-width: 500px) {
    .icon-card {
        .pinned-big-icon {
            width: 80px;
            height: 85px;
        }
    }
}