


.z-board {
    padding-top: 30px;
    .view-key {
        color: #eee;
    }
    .view-key-link {
        color: #ff879b;
    }
    canvas {
        border: 2px solid black;
    }
    .reply-header {
        padding: 1% 1%;
        border: 5px solid #bec0fe;
        color: #ffbf00;
        width: 30%;
        margin: 1% auto;
        border-radius: 28%;
        background: black;
        min-width: 200px;
        max-width: 400px;
    }

    .board-explainer {
        background: rgba(255,255,255,.6);
        width: 62%;
        margin: 0 auto;
        border: 1px solid black;
        margin-bottom: 10px;
        padding: 10px;
    }


    .instructions-header {
        width:90%;
        margin: auto;
        margin-bottom:5px;
        word-break: break-word;
        .copy-icon {
            
        }
    }

    .highlight-cta {
        margin-top:0;
    }

    .board-zaddr {
        margin: 5px 5px;
        width: 80%;
        padding: 3px 10px;
        margin-top: 20px;
        word-break: break-word;
        display: inline;       
    }


    .board-page-buttons {
        display:flex;
        justify-content:flex-end;
        margin-right:10%;
        padding:10px;
        height: 50px;
        button {
            border: 1px solid #bec0fe;
            background: #bec0fe;
        }
        .page-number {
            background: white;
            border: none;
            font-size: 18px;
        }
        .board-next {
            cursor: pointer;
            border-radius: 0px 5px 5px 0px;
        }
        .board-previous {
            cursor: pointer;
            border-radius: 5px 0px 0px 5px;
        }
        .board-next:disabled, .board-previous:disabled {
            cursor: not-allowed;
        }
    }

    .replying-to-link {
        width: 83%;
        text-align: left;
        margin: 0 auto;
        display: block;
    }
  
    .board-post {
        width:80%;
        margin: .5% auto;
        background: #bec0fe;
        padding:10px;
        padding-top:0px;
        text-align:left;
        border-radius: 5px;
        .post-links {
            padding-top: 15px;
        }
        .post-text {
            display:inline-block;
            background: #bec0fe;
            font-size: 18px;
            padding:10px;
            word-break: break-word;
            max-width:100%;
            white-space:pre-line;
            margin-bottom:0px;
            margin-top:1px;
        }
        .post-date {
            margin: 0;
            padding-left:10px;
            color:rgb(117, 117, 117);
            display: flex;
            align-items:center;
            .like-icon {
                width: 1.7rem;
                height: 1.7rem;
                transition: .2s;

                &:hover {
                    width: 2rem;
                    height: 2rem;
                }
            }
            .like-container {
                border: 1px solid black;
                border-radius: 5px;
                display: flex;
                align-items:center;
                margin-right: 5px;
                padding: 0 2px;
                height: 2rem;
                img {
                    margin-right: 2px;
                    cursor: pointer;
                }
                span {
                    border-left: 1px solid black;
                    line-height: 1;
                    padding-bottom: 3px;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-top: 0;
                    font-size: 1.7rem;
                    color: black;
                }
                
            }
        }
    }


    .highlighted-board-post {
        width:80%;
        background:rgb(255, 135, 155);
        .post-date {
            margin: 0;
            padding-left:10px;
            color:rgb(68, 68, 68);    
            margin-bottom: 5px; 
        }
        .post-text {
            margin-top:0;
            // letter-spacing: 1px;
            // background: #000FB7;
            background:rgb(255, 135, 155);
            border:none;
            max-width:100%;
            font-size:20px;
            // text-align:center;
            // font-weight:520;
        }
    }
    .individual-post {
        margin-top:5px;
    }
    a {
        text-decoration: none;
        color:rgb(93, 93, 93);
        font-weight:bold;
        padding-right:10px;
        padding-left:10px;
    }
    .post-bottom-row {
        display:flex;
        justify-content:space-between;
        text-align:left;
    }
}

.z-board.bathroom-mode {
    font-family: 'Permanent Marker', cursive;
    background-image: url("../bathroom_wall_light.png");
    
    .board-post {
        border: none;
        background: #00000000;

        .post-text {
            font-size: 24px;
            background: #00000000;
        }

        p {
            opacity: 1;
        }

    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    margin-right: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 2px black;
  }
  
  input:checked + .slider:before {
    background-color: #888;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .bathroom-mode-controls {
      display:flex;
      align-items:center;
      justify-content: center;
      width: 300px;
      margin: 0 auto;
  }


  $dash-size: 5px;
  $theme-color: #bec0fe;
  $light-outline: #ffbf00;
  $dark-outline: #7a5f0b;
  $fill-color: #ff879b;
  $dark-theme-color:  #353670;
  $dark-red: #743943;
  
  #pinned-post {
      margin-bottom: 20px;
      padding: 25px;
      max-width: 900px;
      background: lighten($theme-color, 20%);
      border: $dash-size dashed $theme-color;
      box-shadow: 0 0 0 ($dash-size / 2) darken($theme-color, 20%),
                  0 0 0 ($dash-size * 2.5) #fff,
                  inset 0 0 0 ($dash-size / 2) darken($theme-color, 20%),
                  0 $dash-size ($dash-size * 2) ($dash-size * 3) rgba(0,0,0,0.5),
                  inset 0 0 0 ($dash-size * 1.2) #fff,
                  inset 0 0 100vw 100vw $fill-color;
    width: 90%;
  }


  .dark-mode .z-board {

    .page-number {
        color: #333;
    }
    .view-key {
        margin-bottom: 5px;
        color: cyan;
        background: repeating-linear-gradient(30deg, transparent, transparent 10px, #0057ad 10px, #be6800 20px), linear-gradient(to bottom, #870087, #006c00);
        border: 5px solid #817324;
        border-radius: 10%;
        padding: 10px;
        .view-key-link {
            color: lime;
        }
    }
    
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        color: #ccc;
        font-weight: 500;
    }
    .board-explainer {
        background: #151632;
    }

    .board-page-buttons {
        .board-next, .board-previous {
            border: 1px solid #353670;
            background: #353670;
            color: #ddd;
        }
    }
    #pinned-post {
        background: lighten($dark-theme-color, 20%);
        border: $dash-size dashed $dark-theme-color;
        box-shadow: 0 0 0 ($dash-size / 2) darken($dark-theme-color, 20%),
                    0 0 0 ($dash-size * 2.5) #743943,
                    inset 0 0 0 ($dash-size / 2) darken($dark-theme-color, 20%),
                    0 $dash-size ($dash-size * 2) ($dash-size * 3) rgba(0,0,0,0.5),
                    inset 0 0 0 ($dash-size * 1.2) #743943,
                    inset 0 0 100vw 100vw #743943;
    
    }
    .board-post {
        background: #353670;
        border: 1px solid #795c05;
        a {
            color: #ddd;
        }
        .post-text {
            background: #353670;
        }
        .post-date {
            color: #bbb; 
        }
        .like-container {
            border-color: #ddd;
            color: #ddd;
            span {
                border-color: #ddd;
                color: #ddd;
            }
        }
    }

    .highlighted-board-post.board-post {
        background:#743943;
        .post-text {
            background:#743943;
        }
    }
}

$breakpoint-tablet: 864px;
@media (max-width: $breakpoint-tablet) {
    .z-board {
        .board-explainer {
            width: 90%;
        }
    }
}