.drawing-board-toolbar-container {
    padding-right: 20px;
    .drawing-board-toolbar-icon {
        &:nth-child(1) {
            display:none;
        }
        &:nth-child(21) {
            display:none;
        }
        &:nth-child(4) {
            display:none;
        }
        &:nth-child(5) {
            display:none;
        }
        &:nth-child(8) {
            display:none;
        }
        &:nth-child(9) {
            display:none;
        }
        

    }

}
