.leaderboard-post-container {
    display: flex;
    align-items: center;
    .post-gif {
        width: 15%;
        height: 50%;
        padding: 1%;
    }
    .reversed-post-gif {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}

.post-text {
    width: 85%;
}

.board-post:nth-child(odd) {
    .leaderboard-post-container {
        flex-direction: row-reverse;
    }
}


#day-1 {
    border: 2px solid white;
    background-image: url(../images/sayclubg01.gif);

    color: black;
    border: 2px solid white;
   // @keyframes moveclouds {
   //     0%  {background-position: 0px 0px;}
   //     100% {background-position: 1134px 0px;}
        //}

    .post-gif {
        content: url(../icons/leaderboard-icons/clappinghands.gif);
    }



    .post-text {
        color: white;
        text-shadow: -2px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
        font-size: 1.5rem
    }


}

#night-1 {
    border: 2px solid white;
    background-image: url(../images/sayclubg01.gif);
    background-color: #000000;
    background-repeat: repeat;
    background-position-x: right;
    
    .post-text {
        color: white;
        text-shadow: -2px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
        font-size: 1.5rem
    }

    .post-gif {
        content: url(../icons/leaderboard-icons/clappinghands.gif)
    }
}

#night-2 {
    background-image: url(../images/staticGlFO.gif);
    border: 2px solid white;

    .post-text {
        color: white;
        text-shadow: -2px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
        font-size: 1.5rem
    }

    .post-gif {
        content: url(../icons/leaderboard-icons/blue-globe.gif)
    }
}
    

#night-3 {
    background-image: url(../images/cutiecircuits.gif);
    border: 2px solid rgb(228, 236, 236);
    .post-text {
        color: white;
        text-shadow: -2px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
        font-size: 1.5rem;
        justify-content: center;
    }

    .post-gif {
        content: url(../icons/leaderboard-icons/computer-and-mouse.gif);
        padding-left: 5%;
    }

}

#night-4 {
    border: 2px solid white;
    background-image: url(../images/starz.gif);
    background-position: center;
    background-color: black;
    .post-text {
        color: white;
        text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
        font-size: 1.5rem;
    }
    .post-gif {
        content: url(../icons/leaderboard-icons/arabbit04.gif);
        padding-right: 3%;
    }
    
}

#day-2 {
    border: 2px solid black;
    background-image: url(../images/rose-bk2.gif);
    .post-text {
        color: white;
        text-shadow: -2px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
        font-size: 1.5rem
    }

    .post-gif {
        content: url(../icons/leaderboard-icons/blue-globe.gif)
    }

}

#day-3 {
    border: 2px solid black;
    background-image: url(../images/tiledmikey.gif);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center;
    animation: movebuns 14s linear 0s infinite;
    color: black;
    @keyframes movebuns {
        0%  {background-position: 200px 200px;}
        100% {background-position: 200px 20px;}
        }

    .leaderboard-icon.leaderboard-icon-one {
        background-image: url(../icons/leaderboard-icons/blue-elephant.gif);
        right: 20px;
        bottom: 30px;
    }

}

#day-4 {
    border: 2px solid black;
    background-image: url(../images/daycloud.gif);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center;
    .post-text {
        color: white;
        text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
        font-size: 1.5rem;
    }
    .post-gif {
        content: url(../icons/leaderboard-icons/arabbit10.gif);
        padding-right: 3%;
    }
}

#night-5 {
    border: 2px solid white;
    background-image: url(../images/lardgeDARKBOinverted.gif);
    background-repeat: repeat;
    background-position: center;
    .post-gif {
        content: url(../icons/leaderboard-icons/gargoyle.gif)
    }

    .post-text {
        color: white;
        text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
        font-size: 1.5rem;
    }
    
}

#day-5 {
    border: 2px solid black;
    background-image: url(../images/tiledwater.gif);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    .post-gif {
        content: url(../icons/leaderboard-icons/gargoyle.gif)
    }

    .post-text {
        color: white;
        text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
        font-size: 1.5rem;
    }

}

#night-6 {
    border: 2px solid white;
    background-image: url(../images/7113646.png);
    background-repeat: repeat;
    background-position: center;
    .post-gif {

    }
    .post-text {
     color: white;
     text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    font-size: 1.5rem;
    }
}

#night-7 {
    border: 2px solid white;
    background-image: url(../images/lardgeDARKBOinverted.gif)
    
}

#night-8 {
    border: 2px solid white;
    background-image: url(../images/tiledmatrixcode.gif);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    p {
        color: white;
        text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    }
    
}

#night-9 {
    border: 2px solid white;
    background:
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
    linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
    background-color: #840b2a;
    p {
        color: white;
        text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    }
    
}

#night-10 {
    border: 2px solid white;
    background-image: url(../images/5023.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    p {
        color: white;
        text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    }
    
}

#day-6 {
    border: 2px solid black;
}

#day-7 {
    border: 2px solid black;
}

#day-8 {
    border: 2px solid black;
}

#day-9 {
    border: 2px solid black;
}

#day-10 {
    border: 2px solid black;
}



