#day-1 {
    background-image: url("../images/daycloud.gif");
    animation: moveclouds 14s linear 0s infinite;
    color: black;
    @keyframes moveclouds {
        0%  {background-position: 0px 0px;}
        100% {background-position: 1134px 0px;}
        }

}

#night-1 {
    background-image: url(../images/starz.gif);
    background-color: #000000;
    animation: nightcolors 12s linear 0s infinite;
    @keyframes nightcolors {
        0%  {}
        0%  {background-position: 0px 0px;}
        100% {background-position: 304px 0px;}
    }
    
    p {
        color: cyan;
        text-shadow: 2px 2px magenta;
    }
}

#night-2 {
    background-image: url("../images/TVstatic.gif");
    border: 4px dashed white;
}
    

#night-3 {
    background-image: url(../images/cutiecircuits.gif);
    border: 10px double rgb(228, 236, 236);
    
}

#night-4 {
    background-image: url(../images/night.jfif);
    background-position: center;
    animation: nightclouds 12s linear 0s infinite;
    @keyframes nightclouds {
        0%  {background-position: 0px -50px;}
        100% {background-position: 474px -50px;}
    }
}

#day-2 {
    border: 4px double;
    background-image: url(../images/rose-bk2.gif);
}

#day-3 {
    background-image: url(../images/tiledmikey.gif);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center;
    animation: movebuns 14s linear 0s infinite;
    color: black;
    @keyframes movebuns {
        0%  {background-position: 200px 200px;}
        100% {background-position: 200px 20px;}
        }
}

#day-4 {
    background-image: url(../images/tiledcoloranimation.gif);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center;
}

#night-5 {
    background-image: url(../images/tiledpsych05.gif);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    
}

#day-5 {
    background-image: url(../images/tiledwater.gif);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;

}
