$breakpoint-tablet: 864px;
$breakpoint-mobile: 500px;
$day-main: #fec8fc;
$day-background: #5e63fd;
$day-text: #3d4095;

.shield-icon {
  width: 22px;
  height: 25px;
  position: relative;
  bottom: 2px;
}
$dark-stripe: #ad860e;
.main-header {
  background: repeating-linear-gradient(60deg, transparent, transparent 5px, $dark-stripe 5px, $dark-stripe 10px);
  border: 1px solid orchid;
  text-shadow: 0px 0px 3px black;
  border-radius: 10px;
  color:$day-main;
  max-width: 300px;
  margin: .2% auto; 
  margin-bottom: 15px;
  margin-top: 5px;

}

.search-results-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .copy-all-button {
    cursor:pointer;
    height: 26px;
    border: 1px solid black;
    background: $day-main;
  }
}

.page-number {
  background:white;
  border: 1px solid grey;
  padding:2px 5px;
  
}

.qr-icon {
  cursor:  pointer;
}



.copied-tooltip {
  position: absolute;
  top: 30px;
  left: -28px;
  width: 80px;
  opacity: 0;
  transition: .5s;
  background: black;
  border-radius: 3px;
  color: #ddd;
}

.copied-tooltip.visible {
  opacity:1;
  transition: .5s;
}


.icon {
  position:relative;
  cursor: pointer; 
  margin: 5px; 
  user-select: none;
  opacity: .9;
  img {
    height: 27px;
    width: 22px;
  }
}



.icon.clicked {
  opacity: 1;
}

.App {
  color: black;
  padding-bottom:.1%;
  text-align: center;
  background: $day-background;
  // background:#b0a3e6;
  min-height:100vh;
  box-sizing:border-box;
  min-width: 350px;
  .username-link {
    color: black;
  }
  a {
    text-decoration:none;
  }

  .zaddr-list-top-tools {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
  }

  .export-button {
    border: 2px solid #ffbf00;
    background:black;
    color: #ffbf00;
    padding: 10px;
    margin: 10px;
    margin-top:15px;
    margin-bottom: 15px;
    text-decoration:none;
    width: 30%;
    cursor: pointer;
    &:active {
      transform: scale(.95);
    }
    &:focus {
      outline:none;
    }
    button {
      cursor: pointer;
      background:black;
      color: #ffbf00;
      border:none;
      width: 80%;
      padding-top: 0px;
      
    }
  }
  .negative-space-zebra {
    width: 3rem;
    height: 3rem; 
  }

  .copy-all-button {
    margin: 0;
    padding: 0;
    border-radius: 3px;
    margin-right: 10px;
    color: $day-text;
    font-size: 18px;
    padding: 0px 3px;
  }

  input:focus, button:focus {
    outline: 0;
  }
  button {
    transition: .2s;
  }

  button:active {
    box-shadow: 2px 2px 2px #888888;
  }

  .form-container {
    align-items: flex-start;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    border-radius: 3px;
  }

  .filter-checkboxes {
    width: 240px;
    display:flex;
    margin-left: 10px;
    margin-top: 2px;
    span {
      font-weight:bold;
      margin-right: 20px;
    }
    input {
      margin-left: 10px;
      margin-right: 20px;
    }
  }
  .results-count {
    font-size:18px;
    color: #eee;
    margin-bottom: 0;
    text-align: right;
  }
  .cancel-search-x {
    padding: 0px 5px;
    border-radius: 2px;
    line-height: 1;
    background: $day-main;
    color: #3d4095;
    cursor: pointer;
    border: 1px solid black;
  }
  .search-form {
    display: flex;
    justify-content: center;
    
    .search-input {

      border-radius: 3px 0px 0px 3px;
      border: none;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.zaddr-list {
  min-width: 350px;
  padding-top: 1%;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.zaddr-card {
  width: 80%;
  margin: 1% auto;
  border: 1px solid black;
  background:turquoise;
  padding:10px;
  max-width:1000px;

  .zaddr-link {
    margin-top:10px;
  }
  .zaddr-a {
    cursor:pointer;
  }

  a {
    color: darken($day-background,20);
    &:hover {
      color: darken($day-background,40);
    }
  }

  button {
    margin: 1% 10px;
    height: auto;
    padding: 6px;
    font-size: 1.2rem;
    border: 2px solid black;
    background: whitesmoke;
    color:black;

  }
  button:active {
    transform:scale(.95);
  }
  
  p{
    word-break: break-all
  }

  .user-description {
    font-weight:bold;
    margin-bottom:0;
    text-align:center;
    // margin-left: 5%;
    word-break:break-word;
  }

  h2 {
    margin-top:0px;
    margin-bottom:0px;
  }

  .username-link {
    display: "inline-block";
    transition: .2s;
    margin-bottom: 5px;
    &:hover {
      transform: scale(1.1) translateY(-1px);
      color: black;
    }
  }

  canvas {
    margin: 2% auto;
  }
  

  .card-top-row {
    p{
      display:inline-block;
      margin-bottom: 4px;
    }
    button {
      width: 150px;
    }
    margin:5px auto;
    margin-bottom: 10px;
    width:90%;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  .subscribe-button {

    cursor: pointer;
  }
  label {
    color: black;
  }
  input {
    margin-left: 10px;
    margin-right: 20px;
    width: 40px;
  }
  
  .subscription-form {
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

    
 
    canvas {
      margin: 0;
    }

  }
  

  .card-bottom-row {
    display:flex;
    justify-content:space-around;
    margin: 0 auto;
    width:90%;
    div {
      width:24%;
      h3 {
        margin-bottom:0px;
      }
      word-break: break-all
    }
    .details-input {
      
      width:20%;
    }

    a {
      width:6%;
      img {
        width:100%
      }
    }
    img {
      width: 6%;
      height: 100%;
    }
    

  }
}

.back-button-container {

  width: 95%;
  margin: 5px auto;
  display: flex;
  max-width: 900px;
  a {
    color: black;
    font-weight: bold;
    transition: .4s;
    &:hover {
      letter-spacing: 1px;
      color: black;
    }
  }
}
.publish-page {
  background: turquoise;
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px;
  h3 {
    margin-bottom: 0;
  }
  .publish-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    textarea {
      width: 90%;
      max-width: 700px;
      font-size: 17px;
      height: 300px;
      margin: 20px;
    }
    button {
      padding: 10px;
      cursor:pointer;
      font-size: 16px;
     &:disabled {
       cursor: default;
       opacity: .6;
     } 
    }
  }
}

.subscription-info-container {
  display:flex;
  justify-content: space-between;
  width: 80%;
  margin: .5% auto;
  a {
    color: darken($day-background,20);
    &:hover {
      color: darken($day-background,40);
    }
  }
  .subscription-panel {
    width: 49%;
    background: turquoise;
    color: #eee;
    border: 1px solid black;
    padding: 0px 10px 10px 10px;
    h3 {
      margin-top: .5%;
    }
    button {
      color: black;
      cursor: pointer;
      margin: 5px 10px;
      margin-bottom: 0px;
    }
  }
}


.zaddr-page-buttons {
  width: 80%;
  display: block;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  margin-right: 1px;
  max-width: 1000px;
  button {
    background: turquoise;
    border: 1px solid turquoise;
    padding: 1px 5px;
  }
  .page-number {
    background: #ddd;
    color: #111;
  }
  .zaddr-previous {
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    &:disabled {
      cursor: auto;
      opacity: .8;
    }
  }
  .zaddr-next {
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
    &:disabled {
      cursor: auto;
      opacity: .8;
    }
  }
}

.search-button {
  background: turquoise;
  border: 2px solid turquoise;
  border-radius: 0px 3px 3px 0px;
  cursor: pointer;
}

.filter-label, label {
  color: #eee;
}

$dark-stripe: #7a5f0b;
$dark-card-background: #00201d;

table {
  color: black;
  a {
    color: $day-background;
  }
}

.dark-mode {
  .subscription-form {
    margin: 1% auto;


    
    label {
      color: #eee;
    }
  }



  table {
    color: #eee;
    a {
      color: dodgerblue;
      &:hover {
        color: $day-main;
      }
    }
  }
  .subscription-explainer {
    h1 {
      color: #eee;
    }
  }
  .back-button-container {

    a {
      color: #eee;

    }
  }
  button {
    border: 2px dashed #ccc;
    background: $dark-card-background;
    cursor: pointer;
    color: #eee;

  }
  .publish-page {
    background: $dark-card-background;
    border: 1px solid #eee;
    h3 {
      color: #eee;
    }
    .publish-form {
      
      button {

        background: $dark-card-background;
        
      }
      
      textarea {
        color: #eee;
        background: $dark-card-background;
        border: 1px solid #aaa;
      }
    }
  }


  .subscription-info-container {
    display:flex;
    justify-content: space-between;
    width: 80%;
    margin: .5% auto;
    .subscription-panel {
      width: 49%;
      background: $dark-card-background;
      color: #eee;
      border: 1px solid #aaa;
      
      button {
        color: #eee;
      }
      h3 {
        color: #eee;
        margin-top: .5%;
      }
      a {
          color: dodgerblue;
          &:hover {
            color: $day-main;
          }
        
      }
    }
  }
}


.dark-mode .zaddr-card {
  a {
    color: dodgerblue;
    &:hover {
      color: $day-main;
    }
  }
  label {
    color: #eee;
  }
  input, textarea {
    border: 1px solid #eee;
    color: #eee;
    background: $dark-card-background;
  }
  background: $dark-card-background;

  .subscribe-button {
    background: #00665c;
    color: #eee;
  }

  .subscription-info-container {
    a {
      &:hover {
        color: $day-main;
      }
    }

    label {
      color: #eee;
    }

    input, textarea {
      background: #00201d;
      color: #eee;
      border: 1px solid #eee;

      text-select: none;  
    }
  }


}



.dark-mode .auth-form {
  color: #eee;
  background: $dark-card-background;
  input {
    background: none;
    border: 1px solid #eee;
    padding: 2px 5px;
    color: #eee;
  }
  label {
    color: #eee;
  }
  h2 {
    color: #eee;
  }
  button {
    color: #eee;

  }
}
.dark-mode {
  .copy-all-button {
    background: $dark-card-background;
    color: #eee;
  }
  .form-container {
    
  }
  input {
    color: #333;
  }
  .copy-button {
    border-radius: 5px;
    color: #ddd;
    background: rgb(0, 32, 29);
    border: 2px dashed #ddd;
    cursor: pointer;
  }
  .main-header {
    background: repeating-linear-gradient(60deg, transparent, transparent 5px, $dark-stripe 5px, $dark-stripe 10px);
    border: 1px solid $dark-card-background;
    text-shadow: 0px 0px 3px black;
    border-radius: 10px;
    color:#ffbf00;
    max-width: 300px;


  }

  .zaddr-card {
    border: 1px solid #aaa;
    h2, h3, h4 {
      color: #eee;
    }
  }
  .search-button {
    background: #0a5e55;
    border: 2px solid #0a5e55;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
  }
  .cancel-search-x {
    background: #0a5e55;
    padding: 0px 5px;
    border-radius: 2px;
    line-height: 1;
    cursor: pointer;
    border: 1px solid black;
    color: #eee;
  }
  .zaddr-page-buttons {
    
    button {
      
      
    }
    .page-number {
      border: 1px solid #0a5e55;
    }
    .zaddr-previous {
      background: #0a5e55;
      border: 1px solid #0a5e55;
    }
    .zaddr-next {
      background: #0a5e55;
      border: 1px solid #0a5e55;
    }
  }

  

  .copied-tooltip {
    position: absolute;
    top: 30px;
    left: -28px;
    width: 80px;
    opacity: 0;
    transition: .5s;
    background: black;
    border-radius: 3px;
    color: #ddd;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 600;
  }
  
  .copied-tooltip.visible {
    opacity:1;
    transition: .5s;
  }
}


.dark-mode.zaddr-card {
  background: $dark-card-background;

  
  .username-link {
    display: "inline-block";
    &:hover {
      transform: scale(1);
      color: white;
    }
  }
}

.card-bottom-row-form {
  display:flex;
  justify-content:space-around;
  width: 98%;
  margin: 0 auto;
  .details-input {
    width:20%;
    margin-top:0px;
    height:1.5rem;
  }
}

.main-nav-placeholder {
  height:84px;
}


.main-nav {
  // background:#393E41;
  background: black;
  padding: 15px 0px;
  width:100%;
  position:absolute;
  top: 0px;
  display:flex;
  justify-content:space-between;
  height: 84px;

  

  img {
    height: 3rem;
    border-radius: 5px;
  }

  div {
    width:75%;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-right:2.5%;
  }
  a {
    font-size:1.2rem;
    margin: 0 0 0 40px;
    text-decoration:none;
    color:#ffbf00;
    &:hover {
      text-decoration:underline;
    }
  }
  .zebra-icon {
    
    &:hover {
      text-decoration: none;
    }
  }
  .emoji {

    font-size:20px;
  }
}

.zaddr {
  word-break: break-all
}

#private-board-activation-button { 
  opacity: .4;
}



.zaddr-input {
  margin-top:1rem;
  width:90%;
  height:2rem;
}

.zaddr-input.view-key-input {
  height: 5rem;
}

.desc-input {
  margin-top:1rem;
  width:90%;
  height:4rem;
}

.error-text {
  color:red;
}

.dev-disclaimer {
  background: turquoise;
  padding:10px;
  margin: 2% auto;
  margin-top: 0;
  text-align:center;
  border: 1px solid #111;
  width:60%;
}



.about-page {
  margin-top: 10px;
  .about-content {
    width: 95%;
    max-width: 1000px;
    margin: .5% auto;
    background:#ffd862;
    border:2px solid black;
    padding:15px;
    font-size: 1.2rem;
    .mike-pic {
      width:30%;
      height:auto;
      border-radius: 20px;
      border: 2px solid black;
    }
  }
  .cta {
    color: #ffbf00;
    background: black;
    border:1px solid black;
    border-radius:10px;
    height:3rem;
    padding: 0px 20px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition: .2s;
    &:hover {
      transform: scale(1.05);
    }
  }
}


.auth-form {
  background: turquoise;
  width: 500px;
  margin: 2% auto;
  padding:15px;
  border: 1px solid black;
  h2 {
    margin-top:0;
  }
  form {
    display:flex;
    flex-direction: column;
    label {
      display: flex;
      flex-direction:column;
      align-items:flex-start;
      width: 70%;
      margin: 0 auto;
      color: black;
    }
    input {
      color: black;
      margin: 2% auto;
      width:100%;
    }
    button {
      margin: 10px auto;
      margin-top: 15px;
      width: 50%;
    }
  }
}

.cta-button-container {
  display:flex;
  justify-content:space-between;
  width: 82%;
  margin: 2% auto;
  max-width:1022px;
  .cta-button {
    width:45%;
    border:1px solid black;
    font-size:16px;
    a {
      display:flex;
      align-items:center;
      text-decoration:none;
      color:white;
      img {
        height:60%;
        width: 20%;
      }
    }
  }
  .cta-button-silver {
    background:black;
    color: white;
    padding:10px;
    border: 1px solid black;
    a img {
      margin-right: 5px;
      height: 4rem;
      width:4rem;
    }
  }

  .cta-button-black {
    background: black;
    color:white;
    a img {
      height:3rem;
      width:6rem;
    }
  }
  
}



@media (max-width: 1100px) {
  .main-nav .about-link, .main-nav .api-link {
    display:none;

  }
}

@media (max-width: 972px) {
  .search-controls {
    width: 70%;
  }
  .subscription-info-container, .dark-mode .subscription-info-container {
    flex-direction: column-reverse;
    width: 95%;
    .subscription-panel {
      width: 95%;
      margin: 10px auto;
      a {
        &:hover {
          color: $day-main;
        }
      }

    }
  }
  

}

@media (max-width: $breakpoint-tablet) {
  .App {
    .zaddr-card .subscription-form {
      flex-direction: column;
    }
    .form-container {
      align-items: flex-start;
    }
    .zaddr-list-top-tools {
      width: 90%;
      
    }
    .results-count {

      
    }
    }
  .zaddr-card {

    width: 90%;
  }
  #faucet-link {
    display:none;
  }

  .cta-button-container {
    width:84%;
  }

  .cta-button a {
    min-height:100%;
    flex-direction:column;
    justify-content:flex-start;
    img {
      margin-right:0;
    }
  }

  .cta-button.cta-button-silver a img {
    margin-right:0;
  }

  .main-nav {
    width:100%;
    .dark-mode-toggle {
      transform: scale(.7)
    }
    .main-nav-inner {
      width: 90%;
      margin: 0 auto;
      justify-content: space-around;
    }
    .zebra-icon {
      display: none;
    }
    div {
      width:70%;
    }
    a {
      font-size: 1rem;
      margin: 0%;
    }

  }


  .zaddr-card {
    
    
    .card-bottom-row {
      a {
        width:15%;
        img {
          width:100%
        }
      }
      img {
        width: 15%;
        height: 100%;
      }
    }
    .card-top-row {

      flex-direction:column;
      button {
        margin: 0 auto;
        margin-bottom: 2%;
      }
      
    }
    


    .card-bottom-row-form {
      display:flex;
      justify-content:space-around;
      flex-direction:column;
      .details-input {
        width:80%;
        margin: 1% auto;
      }
    }


    
  }
}

.top-buttons {
  display:flex; 
  justify-content:center;
}










#spinner {
  
  width:40%;
  height: auto;
  
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@keyframes spinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }
  .dark-mode .dev-disclaimer {
    background: $dark-card-background;
  }

  .dark-mode-toggle {


    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    height: 32px;
    width: 52px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 0;
    border: 2px solid #c59400;
    background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
    transition: all .2s ease;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: #eee;
      background-image: url("./sun-icon.png");
      box-shadow: 0 1px 2px rgba(44,44,44,.2);
      transition: all .2s cubic-bezier(.5,.1,.75,1.35);
    } &:focus {
      outline: 0;
    }
    &:checked {
      border-color: #7a5f0b;
      &:after {
        background-image: url("./moon-icon.png");
        transform: translatex(20px);
      }
    }
    
    
  }

  @media (max-width: 720px) {
    
    .subscription-info-container, .dark-mode .subscription-info-container {
      flex-direction: column;
      width: 95%;
      .subscription-panel {
        width: 95%;
        margin: 10px auto;

      }
    }
    .form-container {
      
      flex-direction: column;
      width: 90%;
      padding: 0;
      .search-form {
        .search-input {
          width: 100px;
        }
      }
      .filter-label {
        display:none;
      }
      .filter-checkboxes {
        margin-left: 0px;
        width: auto;
      }
    }
  }



  @media (max-width: $breakpoint-mobile) {
    .App {
  
    .zaddr-list-top-tools {
      width: 90%;
      .form-container {
        flex-direction: column;
        width: 90%;
        padding: 0;
      }
    }
  }
}