$breakpoint-tablet: 800px;
$breakpoint-mobile: 500px;

.App {
  padding-bottom:.1%;
  text-align: center;
  background:rgb(218, 252, 255);
  min-height:100vh;
  .search-input {
    margin-left:10px;
    margin-bottom:1rem;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.zaddr-card {
  width: 80%;
  margin: 1% auto;
  border: 1px solid black;
  background:turquoise;
  padding:10px;
  max-width:1000px;
  .zaddr-link {
    margin-top:10px;
  }
  .zaddr-a {
    cursor:pointer;
  }

  button {
    margin: 1% 10px;
    height: auto;
    padding: 4px;
    font-size: 1.2rem;
  }
  button:active {
    transform:scale(.95);
  }
  
  p{
    word-break: break-all
  }

  .user-description {
    font-weight:bold;
    margin-bottom:0;
    text-align:center;
    // margin-left: 5%;
    word-break:break-word;
  }

  h2 {
    margin-top:0px;
    margin-bottom:0px;
  }

  canvas {
    margin: 2% auto;
    border: 2px solid black;
    // padding: 8px;
  }

  .card-top-row {
    p{
      display:inline-block;
    }
    button {
      width: 150px;
    }
    margin:0 auto;
    width:90%;
    display:flex;
    justify-content:space-between;
  }

  .card-bottom-row {
    display:flex;
    justify-content:space-around;
    margin: 0 auto;
    width:90%;
    div {
      width:24%;
      h3 {
        margin-bottom:0px;
      }
      word-break: break-all
    }
    .details-input {
      
      width:20%;
    }

    a {
      width:6%;
      img {
        width:100%
      }
    }
    img {
      width: 6%;
      height: 100%;
    }
    

  }
}

.card-bottom-row-form {
  display:flex;
  justify-content:space-around;
  width: 98%;
  margin: 0 auto;
  .details-input {
    width:20%;
    margin-top:0px;
    height:1.5rem;
  }
}

.main-nav {
  background:rgb(0, 0, 0);
  padding: 15px 0px;
  width:100%;
  display:flex;
  justify-content:space-between;

  

  img {
    height: 3rem;
    border-radius: 5px;
  }

  div {
    width:40%;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-right:5%;
  }
  a {
    margin: 0 4%;
    text-decoration:none;
    color:rgb(218, 252, 255);
    &:hover {
      text-decoration:underline;
    }
  }
  .zebra-icon {
    
    &:hover {
      text-decoration: none;
    }
  }
  .emoji {
    position: relative;
    bottom: 1rem;
    font-size:20px;
  }
}

.zaddr {
  word-break: break-all
}



.zaddr-input {
  margin-top:1rem;
  width:90%;
  height:2rem;
}

.desc-input {
  margin-top:1rem;
  width:90%;
  height:4rem;
}

.error-text {
  color:red;
}

.dev-disclaimer {
  color:darkred;
  padding:10px;
  margin: 2% auto;
  margin-top:0;
  text-align:center;
  background:rgb(255, 194, 194);
  border: 1px solid red;
  width:60%;
}



.about-page {
  .about-content {
    width: 70%;
    margin: 2% auto;
    background:#ffd862;
    border:2px solid black;
    padding:15px;
    font-size: 1.2rem;
    img {
      width:30%;
      height:auto;
      border-radius: 20px;
      border: 2px solid black;
    }
  }
  .cta {
    background:turquoise;
    border:1px solid black;
    border-radius:10px;
    height:3rem;
    padding: 0px 20px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition: .2s;
    &:hover {
      background: rgb(99, 250, 235);
    }
  }
}


.auth-form {
  background: turquoise;
  width: 500px;
  margin: 2% auto;
  padding:15px;
  border: 1px solid black;
  form {
    display:flex;
    flex-direction: column;
    input {
      margin: 2% auto;
      width:70%;
    }
    button {
      margin: 10px auto;
      margin-top: 20px;
      width: 50%;
    }
  }
}

.cta-button-container {
  display:flex;
  justify-content:space-between;
  width: 82%;
  margin: 2% auto;
  max-width:1022px;
  .cta-button {
    width:45%;
    border:1px solid black;
    font-size:16px;
    a {
      display:flex;
      align-items:center;
      text-decoration:none;
      color:white;
      img {
        height:60%;
        width: 20%;
      }
    }
  }
  .cta-button-silver {
    background:black;
    color: white;
    padding:10px;
    border: 1px solid black;
    a img {
      margin-right: 5px;
      height: 4rem;
      width:4rem;
    }
  }

  .cta-button-black {
    background: black;
    color:white;
    a img {
      height:3rem;
      width:6rem;
    }
  }
  
}


@media (max-width: $breakpoint-tablet) {

  .cta-button-container {
    width:84%;
  }

  .cta-button a {
    min-height:100%;
    flex-direction:column;
    justify-content:flex-start;
    img {
      margin-right:0;
    }
  }

  .cta-button.cta-button-silver a img {
    margin-right:0;
  }

  .main-nav {
    width:100%;

    div {
      width:50%;
    }
    a {
      margin: 0 4%;
    }
  }
  
  .main-header {
    margin-left: 10px;
    margin-right:10px;
  }

  .zaddr-card {
    
    .card-bottom-row {
      a {
        width:15%;
        img {
          width:100%
        }
      }
      img {
        width: 15%;
        height: 100%;
      }
    }
    .card-top-row {

      flex-direction:column;
      button {
        margin: 0 auto;
        margin-bottom: 2%;
      }
      
    }
    


    .card-bottom-row-form {
      display:flex;
      justify-content:space-around;
      flex-direction:column;
      .details-input {
        width:80%;
        margin: 1% auto;
      }
    }


    
  }
}











#spinner {
  
  width:40%;
  height: auto;
  
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@keyframes spinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }