$breakpoint-tablet: 800px;
$breakpoint-mobile: 500px;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.zaddr-card {
  width: 80%;
  margin: 1% auto;
  border: 1px solid black;
  background:turquoise;
  padding:10px;

  button {
    margin: 1% 10px;
    height: auto;
    padding: 4px;
    font-size: 1.2rem;
  }
  button:active {
    transform:scale(.95);
  }
  
  p{
    word-break: break-all
  }

  h2 {
    margin-top:0px;
    margin-bottom:0px;
  }

  .card-top-row {
    p{
      display:inline-block;
    }
    margin:0 auto;
    width:90%;
    display:flex;
    justify-content:space-between;
  }

  .card-bottom-row {
    display:flex;
    justify-content:space-evenly;
    .details-input {
      width:20%;
    }

  }
}

.main-nav {
  width:100%;
  display:flex;
  justify-content:space-between;
  div {
    width:40%;
  }
  a {
    margin: 0 4%;
  }
}

.zaddr-input {
  width:90%;
  height:2rem;
}

.error-text {
  color:red;
}

.dev-disclaimer {
  color:darkred;
  padding:10px;
  margin: 2% auto;
  text-align:center;
  background:rgb(255, 194, 194);
  border: 1px solid red;
  width:60%;
}

@media (max-width: $breakpoint-tablet) {

  .main-nav {
    width:100%;
    display:flex;
    justify-content:flex-end;
    div {
      width:50%;
    }
    a {
      margin: 0 4%;
    }
  }
  
  .zaddr-card {
    .card-top-row {

      flex-direction:column;
    }


    .card-bottom-row {
      display:flex;
      justify-content:space-evenly;
      flex-direction:column;
      .details-input {
        width:80%;
        margin: 1% auto;
      }
    }


    
  }
}
